<div class="container bg-white mt-3">
    <h2>Job Order</h2>
    <h4>{{getFormattedDate()}}</h4>
    <hr>
    <div *ngFor="let job of jobList" class="mt-4 p-5 bg-task-box rounded">
        <h4>{{job.communityName}}</h4>
        <h5>{{job.address}} || Phone: {{job.contactNo}}</h5>
        <div class="row">
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>