<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<div class="row mt-5 p-4 bg-white rounded mx-auto" style="width: 600px;border: 1px solid black;">
    <div class="col-md-12">
        <h2>Create Additional Task</h2>
    </div>
    <div class="col-md-12">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Select Community For Additional Task</mat-label>
            <mat-select [(ngModel)]="selectedCommunityId" [ngModelOptions]="{standalone:true}">
                <mat-option *ngFor="let community of communityList" [value]="community.id">{{ community.communityName
                    }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Day</mat-label>
                    <input type="number" min="1" max="31" placeholder="DD" (change)="prepareDate()" [(ngModel)]="day"
                        (ngModelChange)="taskDate = (year ? year : '0000') + '-' + (month ? month : '00') + '-' + (day ? ('0' + day).slice(-2) : '00')"
                        [ngModelOptions]="{standalone:true}" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Month</mat-label>
                    <mat-select (onSelectionChange)="prepareDate()" [(ngModel)]="month"
                        (ngModelChange)="taskDate = (year ? year : '0000') + '-' + (month ? month : '00') + '-' + (day ? ('0' + day).slice(-2) : '00')"
                        [ngModelOptions]="{standalone:true}">
                        <mat-option *ngFor="let month of months" [value]="month.value">{{ month.label
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select (onSelectionChange)="prepareDate()" [(ngModel)]="year"
                        (ngModelChange)="taskDate = (year ? year : '0000') + '-' + (month ? month : '00') + '-' + (day ? ('0' + day).slice(-2) : '00')"
                        [ngModelOptions]="{standalone:true}">
                        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="!taskDate || taskDate.startsWith('0000')" class="text-danger">
            Service Date is required.
        </div>
    </div>
    <div class="col-md-12">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Name of the Service</mat-label>
            <input placeholder="Name of the Service" [(ngModel)]="taskModel.serviceName" matInput type="text">
        </mat-form-field>
    </div>
    <div class="col-md-12">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Service Charge / Task</mat-label>
            <span appCurrency matTextPrefix>$ &nbsp;</span>
            <input appCurrency placeholder="Service Charge" [(ngModel)]="taskModel.serviceCharge" matInput
                type="number">
        </mat-form-field>
    </div>
    <div class="col-md-12 d-flex justify-content-end gap-2 mt-3">
        <button type="button" (click)="addTask()" class="btn btn-warning">Add</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Service Name</th>
                    <th>Service Charge</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of addtinalTaskList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ task.serviceName }}</td>
                    <td appCurrency>${{ task.serviceCharge || 0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 d-flex justify-content-end gap-2 mt-3">
        <button (click)="onSubmit()" class="btn-bg-primary">Save</button>
    </div>
</div>