<div class="container bg-white mt-3">
    <div class="mt-4 p-5 rounded">
        <div class="d-flex align-items-center justify-content-between">
            <h3>Community List</h3>
            <button (click)="addNew()" class="btn-bg-primary">Add New</button>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Community Name</th>
                        <th>Community Address</th>
                        <th>CAM of Community</th>
                        <th>Gate Code</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Lock Box Code</th>
                        <th>Special Request</th>
                        <th>Pet Stations</th>
                        <th>Garbage Bins</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let community of communityList; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ community.communityName }}</td>
                        <td>{{ community.communityAddress }}</td>
                        <td>{{ community.camOfcommunity }}</td>
                        <td>{{ community.gateCode }}</td>
                        <td>{{ community.phone }}</td>
                        <td>{{ community.email }}</td>
                        <td>{{ community.lockBoxCode }}</td>
                        <td>{{ community.specialRequest }}</td>
                        <td>{{ community.noOfPetStation }}</td>
                        <td>{{ community.noOfGarbageBin }}</td>
                        <td>
                            <button (click)="editCommunity(community)" class="btn btn-sm btn-warning">Edit</button>
                            <!-- <button (click)="deleteCommunity(community)" class="btn btn-sm btn-danger">Delete</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>