<mat-accordion>
    <p *ngIf="communityList?.length == 0">*No Jobs Today</p>
    <mat-expansion-panel *ngFor="let community of communityList; index as i" hideToggle>
        <mat-expansion-panel-header (click)="togglePanel(i)" [ngClass]="{ 'active-header': expandedPanelIndex === i }">
            <mat-panel-title>
                <i class="fas fa-lightbulb" style="color: #cc5200"></i>
                <span class="community-font">{{ community.communityName }}</span>
            </mat-panel-title>
            <mat-panel-description>
                <strong><i class="fas fa-map-marker-alt"></i></strong>
                {{ community.communityAddress }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row mt-4">
            <div class="col-md-6">
                <p style="font-size: small;">
                    <i class="fas fa-calendar-alt"></i> Task Date:
                    {{ community.scheduledDate | date: 'mediumDate' }}
                </p>
            </div>
            <div class="col-md-6">
                <button class="btn-default" style="float: right; color: #cc5200" mat-flat-button>
                    {{ community.taskStatus }}
                </button>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-key"></i> Gate Code:</strong>
                    {{ community.gateCode }}
                </p>
                <p>
                    <strong><i class="fas fa-lock"></i> Lock Box Code:</strong>
                    {{ community.lockBoxCode }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-user"></i> CAM:</strong>
                    {{ community.camOfcommunity }}
                </p>
                <p>
                    <strong><i class="fas fa-phone"></i> Phone:</strong>
                    {{ community.phone }}
                </p>
                <p>
                    <strong><i class="fas fa-envelope"></i> Email:</strong>
                    <a href="mailto:{{ community.email }}">{{ community.email }}</a>
                </p>
            </div>
        </div>

        <div *ngIf="!community.isFlatRate" class="row mt-3">
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-trash"></i> Garbage Bins:</strong>
                    {{ community.noOfGarbageBin }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-paw"></i> Pet Stations:</strong>
                    {{ community.noOfPetStation }}
                </p>
            </div>
        </div>
        <div *ngIf="!community.isFlatRate" class="row mt-3">
            <div class="col-md-12">
                <p class="lh-lg">
                    <strong><i class="fas fa-sticky-note"></i> Special Request:</strong>
                    {{ community.specialRequest }}
                </p>
            </div>
        </div>
        <div *ngIf="!community.isFlatRate" class="row mt-3">
            <div class="row mt-3 align-items-center" *ngFor="let task of taskConfigs">

                <!-- Column 1: Slide Toggle -->
                <div class="col-md-3 d-flex align-items-center">
                    <mat-slide-toggle class="toggle-btn" color="primary" [(ngModel)]="community[task.toggleKey]"
                        (change)="onToggleChange($event, i)">
                        {{ task.toggleLabel }}
                    </mat-slide-toggle>
                </div>

                <!-- Column 2: Number Input -->
                <div *ngIf="community[task.toggleKey]" class="col-md-3">
                    <mat-form-field class="input-field" appearance="outline">
                        <mat-label>{{ task.numberLabel }}</mat-label>
                        <input type="number" (change)="calculateTotal(community)" placeholder="{{ task.numberLabel }}"
                            [(ngModel)]="community[task.numberKey]" matInput />
                    </mat-form-field>
                </div>

                <!-- Column 3: Price Input -->
                <div *ngIf="community[task.toggleKey]" class="col-md-3">
                    <mat-form-field class="input-field" appearance="outline">
                        <mat-label>{{ task.priceLabel }}</mat-label>
                        <span appCurrency matTextPrefix>$ &nbsp;</span>
                        <input appCurrency [readonly]="true" type="number" placeholder="{{ task.priceLabel }}"
                            [(ngModel)]="community[task.priceKey]" matInput />
                    </mat-form-field>
                </div>

                <!-- Column 4: Total Bill -->
                <div *ngIf="community[task.toggleKey]" class="col-md-3">
                    <mat-form-field class="input-field" appearance="outline">
                        <mat-label>Total Bill</mat-label>
                        <span appCurrency matTextPrefix>$ &nbsp;</span>
                        <input appCurrency [readonly]="true" type="number" placeholder="Total Bill"
                            [(ngModel)]="community[task.totalKey]" matInput />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div *ngIf="community.isFlatRate" class="card mt-5 p-3">
            <div class="row">
                <div class="col-md-12">
                    <p class="lh-lg">
                        <strong><i class="fas fa-sticky-note"></i> Service Details:</strong>
                        {{ community.serviceName }}
                    </p>
                    <p>
                        <strong><i class="fas fa-dollar-sign"></i> Flat Rate Amount:</strong>
                        ${{ community.flatRateAmount | number: '1.2-2' }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3 align-items-center">
            <div class="col-md-12 d-flex justify-content-end">
                <button (click)="completeTask(community,false)" class="mr-3 btn-bg-primary">
                    Complete Task
                </button>
                <button (click)="completeTask(community,true)" class="btn-bg-warn">
                    Cancel
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>