    <div class="card shadow p-4 mb-4">
        <div class="header">
            <span class="download-text">Download Invoice</span>
            <button mat-icon-button color="default" (click)="downloadInvoice()" matTooltip="Download">
                <mat-icon>download</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Invoice</h2>
                <p><strong>Date:</strong> {{ applyFilter(invoice.invoiceDate) }}</p>
            </div>
            <div class="col-6 text-end">
                <h4 class="text-secondary">{{ invoice.community.communityName }}</h4>
                <p>{{ invoice.community.communityAddress }}</p>
                <p><strong>Phone:</strong> {{ invoice.community.phone }}</p>
                <p><strong>Email:</strong> {{ invoice.community.email }}</p>
            </div>
        </div>

        <hr>

        <h5 class="text-dark">Task Details</h5>
        <table class="table table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Name of the Service</th>
                    <th>Rate</th>
                    <th>QTY</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Garbage Bin</th>
                    <td>${{ invoice.costPerGarbageBins }}</td>
                    <td>{{ invoice.totalGarbageBins }}</td>
                    <td>${{ invoice.totalGarbageBins * invoice.costPerGarbageBins }}</td>
                </tr>
                <tr>
                    <th>Replacement of 10 Gal. Bin</th>
                    <td>${{ invoice.costPerPetStations }}</td>
                    <td>{{ invoice.totalPetStations }}</td>
                    <td>${{ invoice.totalPetStations * invoice.costPerPetStations }}</td>
                </tr>
                <tr>
                    <th>Pet Waste Station Dispenser Bag Refills (200 rolls) </th>
                    <td>${{ invoice.costPerBagReplaced }}</td>
                    <td>{{ invoice.totalBagReplaced }}</td>
                    <td>${{ invoice.totalBagReplaced * invoice.costPerBagReplaced }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row mt-3">
            <div class="col-6">
                <p><strong>Gate Code:</strong> {{ invoice.community.gateCode }}</p>
                <p><strong>Lock Box Code:</strong> {{ invoice.community.lockBoxCode }}</p>
            </div>
            <div class="col-6 text-end">
                <h4 class="text-dark">Total Amount: <span class="text-success">${{ invoice.totalAmount }}</span></h4>
                <p><strong>Status:</strong> <span class="badge" [ngClass]="getStatusClass(invoice.status)">{{ invoice.status
                        }}</span></p>
            </div>
        </div>
    </div>