.header {
    display: flex;
    align-items: center;
    /* Vertically center-aligns items */
    justify-content: flex-end;
    /* Aligns items to the right */
    padding: 10px;
}

.download-text {
    margin-right: 8px;
    /* Space between text and button */
    font-size: 16px;
    /* Adjust font size as needed */
}