<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<div class="d-flex justify-content-between align-items-center mt-3">
    <h2>Over due Job Order</h2>
</div>
<hr />
<mat-accordion>
    <p *ngIf="communityList?.length == 0">*No Job Today</p>
    <mat-expansion-panel *ngFor="let community of communityList; index as i" hideToggle>
        <mat-expansion-panel-header (click)="togglePanel(i)" [ngClass]="{ 'active-header': expandedPanelIndex === i }">
            <mat-panel-title>
                <i class="fas fa-lightbulb" style="color: #cc5200"></i>
                {{ community.communityName }}
            </mat-panel-title>
            <mat-panel-description>
                <strong><i class="fas fa-map-marker-alt"></i></strong>
                {{ community.communityAddress }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn-default" style="float: right; color: #cc5200" mat-flat-button>
                    {{ community.taskStatus }}
                </button>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-key"></i> Gate Code:</strong>
                    {{ community.gateCode }}
                </p>
                <p>
                    <strong><i class="fas fa-lock"></i> Lock Box Code:</strong>
                    {{ community.lockBoxCode }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-user"></i> CAM:</strong>
                    {{ community.camOfcommunity }}
                </p>
                <p>
                    <strong><i class="fas fa-phone"></i> Phone:</strong>
                    {{ community.phone }}
                </p>
                <p>
                    <strong><i class="fas fa-envelope"></i> Email:</strong>
                    <a href="mailto:{{ community.email }}">{{ community.email }}</a>
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-trash"></i> Garbage Bins:</strong>
                    {{ community.noOfGarbageBin }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong><i class="fas fa-paw"></i> Pet Stations:</strong>
                    {{ community.noOfPetStation }}
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="lh-lg">
                    <strong><i class="fas fa-sticky-note"></i> Special Request:</strong>
                    {{ community.specialRequest }}
                </p>
            </div>
        </div>
        <div class="row mt-3 align-items-center">
            <div class="col-md-3 d-flex align-items-center">
                <mat-slide-toggle class="toggle-btn" color="primary" [(ngModel)]="community.isBagRollReplaced"
                    (change)="onToggleChange($event, i)">
                    Replace Bag
                </mat-slide-toggle>
            </div>
            <!-- Column 2 & 3: Input Box and Button -->
            <div *ngIf="community.isBagRollReplaced" class="col-md-3">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Number of Roll Replaced</mat-label>
                    <input type="number" (change)="calculateTotal(community)" placeholder="Number of Rolls"
                        [(ngModel)]="community.noOfBagRollReplaced" matInput />
                </mat-form-field>
            </div>
            <div *ngIf="community.isBagRollReplaced" class="col-md-3">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Price Per Rolls</mat-label>
                    <span matTextPrefix>$ &nbsp;</span>
                    <input [readonly]="true" type="number" placeholder="Price Per Rolls"
                        [(ngModel)]="community.pricePerUnit" matInput />
                </mat-form-field>
            </div>
            <div *ngIf="community.isBagRollReplaced" class="col-md-3">
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Total Bill</mat-label>
                    <span matTextPrefix>$ &nbsp;</span>
                    <input [readonly]="true" type="number" placeholder="Total Bill" [(ngModel)]="community.total"
                        matInput />
                </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-end">
                <button (click)="completeTask(community,false)" class="mr-3 btn-bg-primary">
                    Complete Task
                </button>
                <button (click)="completeTask(community,true)" class="btn-bg-warn">
                    Cancel
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>